<!DOCTYPE html>
<html lang="en">
<head>
  <title>Authentication Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Index</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a nohref> <button class="btn btn-xs btn-primary">Local Login</button> </a></li>
        <%if (1 == 1) { %>
          <li><a nohref="#" onclick="logOutAcc()">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
